.toronja1 {position: absolute; color:coral;}
.toronja2 {position: absolute; color:white;}
.foto2 {position: absolute;left:225px; bottom: 405px;}
.foto3 {position: absolute;left: 442px; bottom: 405px;}
.foto5 {position: absolute;left:225px;top:295px;}
.foto6 {position:absolute;top:295px; left:442px;}
.linea{background-color: black; position: absolute; width:100;height: 5px; top:60px;}